# GHCJS
*.js_o
*.js_hi
*.jsexe/

# build output
/public/build/

# VSCode
*.vscode/

# node
/.cache/
/node_modules/

# vim
*.swp

# error logs
node-process-errors.txt

# stack
*.stack-work

# cabal
/dist-newstyle
