.grid {
  color: black;
  background: rgb(97, 120, 194);
  border-radius: 4px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0vh auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.tile {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: lighter;
}

.tile > span {
  text-align: center;
  min-width: 26.7px;
  min-height: 26.7px;
  line-height: 26.7px;
}

.turn-marker {
  font-size: 50px;
}

.mountain {
  background-image: url(/img/mountain.png);
}

.city {
  background-image: url(/img/city.png);
}

.general {
  background-image: url(/img/crown.png);
}

.swamp {
  background-image: url(/img/swamp.png);
}

.mountain, .city, .general, .swamp {
  background-size: 100%;
}

.tile-neutral {
  background-color: rgb(160, 160, 160);
}


.tile-mountain {
  background-color: rgb(110, 110, 110);

}

.tile-owner-0 {
  background-color: red;
}

.tile-owner-1 {
  background-color: blue;
}

.tile-owner-2 {
  background-color: green;
}

.tile-owner-3 {
  background-color: purple;
}

.tile-owner-4 {
  background-color: cyan;
}
.tile-owner-5 {
  background-color: yellow;
}
.tile-owner-6 {
  background-color: orange;
}

.tile-owner-7 {
  background-color: maroon;
}
