
body {
  overflow: hidden;
}

.grid {
  table-layout: fixed;
  border-collapse: collapse;
  --table-cell-side-length: 15px;

}

.grid td {
  position: relative;
  border: 1px solid black;
  background: #dcdcdc;
  color: white;
  text-shadow: 0 0 2px black;
  opacity: 1;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.grid td.selectable,.grid td.attackable {
  position: relative;
  z-index: 20
}

.grid td.selectable:hover,.grid td.attackable:hover {
  cursor: pointer
}

.grid.pingmode td.selectable,.grid.pingmode td.selectable:hover,.grid.pingmode td.attackable:hover {
  cursor: crosshair
}

.grid td.selected {
  border: 1px solid white
}

.grid td.selected50 {
  text-shadow: 1px 1px black
}

.grid td.attackable {
  opacity: .4
}

.grid td.city,.grid td.general,.grid td.mountain,.grid td.obstacle,.grid td.swamp {
  background-position: center;
  background-repeat: no-repeat
}

.grid td.city {
  background-color: gray;
  background-image: url('/img/city.png')
}

.grid td.neutral {
  background-color: gray
}

.grid td.general {
  background-image: url('/crown.png')
}

.grid td.mountain {
  background-image: url('/img/mountain.png');
  background-color: #bbb
}

.grid td.obstacle {
  background-image: url('/img/obstacle.png')
}

.grid td.swamp {
  background-image: url('/img/swamp.png');
  background-color: gray
}

.grid td.fog {
  border: 1px solid transparent;
  background-color: rgba(255,255,255,0.1)
}

.grid td.fog.selected {
  border: 1px solid white
}
