
body {
  overflow: hidden;
}

.grid {
  table-layout: fixed;
  border-collapse: collapse;
  --table-cell-side-length: 15px;

}

.grid td {
  position: relative;
  border: 1px solid black;
  background: #dcdcdc;
  color: white;
  text-shadow: 0 0 2px black;
  opacity: 1;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.grid td.selectable,.grid td.attackable {
  position: relative;
  z-index: 20
}

.grid td.selectable:hover,.grid td.attackable:hover {
  cursor: pointer
}

.grid.pingmode td.selectable,.grid.pingmode td.selectable:hover,.grid.pingmode td.attackable:hover {
  cursor: crosshair
}

.grid td.selected {
  border: 1px solid white
}

.grid td.selected50 {
  text-shadow: 1px 1px black
}

.grid td.attackable {
  opacity: .4
}

.grid td.clear {
  background-color: #dcdcdc;
}

.grid td.city,.grid td.general,.grid td.mountain,.grid td.obstacle,.grid td.swamp {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
.grid td.city {
  background-image: url(http://generals.io/city.png);
  background-color: gray;
}

.grid td.general {
  background-image: url(http://generals.io/crown.png);
}

.grid td.mountain {
  background-image: url('http://generals.io/mountain.png');
  background-color: #bbb;
}

.grid td.obstacle {
  background-image: url('http://generals.io/obstacle.png');
}

.grid td.swamp {
  background-image: url('http://generals.io/swamp.png');
  background-color: gray;
}

.grid td.fog {
  border: 1px solid transparent;
  background-color: rgba(255,255,255,0.1)
}

.grid td.fog.selected {
  border: 1px solid white;
}

.grid td.player-0 {
  background-color: red;
}

.grid td.player-1 {
  background-color: blue;
}

.grid td.player-2 {
  background-color: green;
}

.grid td.player-3 {
  background-color: purple;
}

.grid td.player-4 {
  background-color: teal;
}

.grid td.player-5 {
  background-color: orange;
}

.grid td.player-6 {
  background-color: brown;
}

.grid td.player-7 {
  background-color: yellow;
}

